<launch>
    <!-- see thruster_diagnostics.launch for launch examples -->

    <!-- default args -->
    <arg name="verbose" default="" />
    <arg name="simulation" default="false" />
    <arg name="topic_output" default="thrusters/request" />
    <arg name="fault_control" default="false"/>

    <!-- start the wrapper and the pilot -->
    <include file="$(find vehicle_core)/launch/thruster_wrapper.launch">
        <arg name="verbose" default="$(arg verbose)" />
        <arg name="simulation" default="$(arg simulation)" />
        <arg name="topic_output" default="$(arg topic_output)" />
    </include>

    <!-- fault control flag (this will override what loaded by the pilot) -->
    <param name="pilot/fault_control" value="$(arg fault_control)"/>

</launch>
