<launch>
    <!-- see thruster_diagnostics.launch for launch examples -->

    <!-- start the thruster diagnostic node -->
    <include file="$(find saetta_energy)/launch/thruster_monitor.launch"/>

    <!-- start the path controller -->
    <node name="path_controller" pkg="vehicle_core" type="node_path.py" output="screen"/>

    <!-- run also energy system -->
    <include file="$(find saetta_energy)/launch/energy_monitor.launch"/>

</launch>
