<launch>
    <!-- default args -->
    <arg name="use_actions" default="true"/>
    <!--<arg name="mfile" default="$(find saetta_energy)/data/mission_config.json"/>-->
    <!--<arg name="mdir" default="$(find saetta_energy)/data"/>-->

    <!-- support nodes -->
    <include file="$(find saetta_energy)/launch/battery_node.launch"/>

    <!--<include file="$(find saetta_energy)/launch/energy_monitor.launch"/>-->

    <include file="$(find saetta_energy)/launch/action_path.launch"/>

    <include file="$(find saetta_energy)/launch/path_monitor.launch">
        <arg name="use_actions" value="$(arg use_actions)"/>
    </include>

    <!--&lt;!&ndash; mission executor &ndash;&gt;-->
    <!--<node name="mission_executor" pkg="saetta_energy" type="node_executor.py" args="&#45;&#45;output=$(arg mdir) $(arg mfile)" output="screen">-->
        <!--<param name="test" value=""/>-->
    <!--</node>-->

</launch>
