<launch>

    <!--
        run example:
        SIMULATION=1 roslaunch vehicle_diagnostics test_diagnostics.launch fault_control:=true fault_speeds:=true
    -->

    <include file="$(find saetta_energy)/launch/test_A_diagnostics.launch"/>
    <include file="$(find saetta_energy)/launch/test_B_diagnostics.launch"/>

</launch>
