<launch>

    <!--
        run examples:
        SIMULATION=1 roslaunch vehicle_diagnostics thruster_diagnostics.launch fault_control:=true fault_speeds:=true
        MODEL=1 AUTO=1 roslaunch vehicle_diagnostics thruster_diagnostics.launch
    -->

    <include file="$(find saetta_energy)/launch/diagnostics_part_a.launch"/>
    <include file="$(find saetta_energy)/launch/diagnostics_part_b.launch"/>

</launch>
